{% extends 'base.html'%} 
{% block content%}
<nav class="navbar navbar-light border-bottom bg-light">
    <div class="container-fluid d-flex ">
      <span class="navbar-brand mb-0 h1 fs-3 ms-4">E-Cart</span>
      <a class="btn btn-outline-danger me-4" href="logout">Log Out</a>
    </div>
  </nav>
  <section class="py-2 py-xl-5">
    <div class="container">
        <div class="bg-light rounded shadow-lg border-0 border-dark overflow-hidden">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold text-danger mb-3 fs-1">Welcome to<br> ECART</h2>
                        <p class="mb-4 fw-bold fs-4 text-danger">You can shop home essentials, foods, toys and whatevers you want from the ECART</p>
                        <div class="my-3"></div>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="https://img.freepik.com/free-vector/super-sale-horizontal-banner_52683-59532.jpg?w=2000" /></div>
            </div>
        </div>
    </div>
</section>

{% comment %} <div>
    <img src="https://img.freepik.com/premium-vector/special-offer-sale-discount-banner_180786-46.jpg" class="img-fluid w-100 h-25" alt="...">
</div> {% endcomment %}

<div class="container">
    <div class="row m-5">
        <div class="card m-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card m-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card m-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>


{% endblock%}