{% extends 'base.html'%} {% block content%}

<!-- Navbar -->
<nav class="navbar navbar-light border-bottom bg-light">
  <div class="container-fluid ">
    <span class="navbar-brand mb-0 h1 fs-3">E-Cart</span>
  </div>
</nav>
<div class="container">
    <section class="vh-100 border m-4 rounded-3 shadow-lg p-3 mb-5 bg-body rounded">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://png.pngtree.com/png-vector/20190121/ourlarge/pngtree-log-in-login-interface-computer-computer-login-png-image_508196.jpg"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form action=" " method="post">
                {%csrf_token%}
                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center fs-1 fw-bold mx-3 mb-0">Login Here</p>
                </div>
                
                <!-- Username input -->
                <div class="form-outline mb-4">
                  <input type="uname" id="form3Example3" name="uname" class="form-control form-control-lg"
                    placeholder="Enter a valid username" />
                  <label class="form-label" for="form3Example3">User Name</label>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" id="form3Example4" name="password" class="form-control form-control-lg"
                    placeholder="Enter password" />
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
                <div>
                  {%for message in messages %}
                  <h6 class="text-danger">{{message}}</h6>
                  {%endfor%}
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
</div
{% endblock %}
